# MLB top pitchers Analysis (2010-2019)

### all pitchers

In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt

#### Merge data from pitchers

In [3]:
path = './Pitching_stats'
files= [file for file in os.listdir(path)]

all_pitchers_data = pd.DataFrame()

for file in files:
    current_data = pd.read_csv(path+'/'+file)
    all_pitchers_data = pd.concat([all_pitchers_data, current_data])

all_pitchers_data.to_csv('all_pitchers_stats.csv', index=False)

In [4]:
all_pitchers = pd.read_csv("all_pitchers_stats.csv")
all_pitchers.head()

,Players,Team,Win,Lost,ERA,Games,GS,CG,SHO,Saves,...,Hits,Runs,ER,HR,HB,BB,SO,WHIP,AVG,Year
0,Pedro Feliciano,NYM,3,6,3.3,92,0,0,0,0,...,66,24,23,1,6,30,56,1.53,0.273,2010
1,Randy Choate,TB,4,3,4.23,85,0,0,0,0,...,41,23,21,3,3,17,40,1.3,0.252,2010
2,Peter Moylan,ATL,6,2,2.97,85,0,0,0,1,...,53,24,21,5,2,37,52,1.41,0.236,2010
3,Nick Masset,CIN,4,4,3.4,82,0,0,0,2,...,64,31,29,7,1,33,85,1.27,0.226,2010
4,Luke Gregerson,SD,4,7,3.22,80,0,0,0,2,...,47,30,28,8,1,18,89,0.83,0.170,2010

#### Task 1: Find the pitcher with the most strikeout

In [5]:
all_pitchers_so = all_pitchers.groupby(by = 'Players').sum()['SO']

In [6]:
pitchers_mostSO = all_pitchers_so.sort_values(ascending=False)

In [7]:
pitchers_mostSO.head(5)

Players
Max Scherzer        2452
Justin Verlander    2260
Clayton Kershaw     2179
Chris Sale          2007
Zack Greinke        1872
Name: SO, dtype: int64

#### Task 2: Find the pitchers with the most saves in every year

In [8]:
#Just change the year column for the year that you want to search
pitchers_year = all_pitchers[all_pitchers['Year'] == 2018]
pitchers_saves_year = pitchers_year.groupby(by = ['Players', 'Team']).sum()['Saves']
pitchers_mostsaves_year = pitchers_saves_year.sort_values(ascending=False)
pitchers_mostsaves_year.head()

Players        Team
Edwin Diaz     SEA     57
Wade Davis     COL     43
Craig Kimbrel  BOS     42
Blake Treinen  OAK     38
Kenley Jansen  LAD     38
Name: Saves, dtype: int64

#### Task 3: Find the pitchers with the most wins

In [17]:
all_pitchers_winsgroup = all_pitchers.groupby('Players').sum()['Win']
all_pitchers_win = all_pitchers_winsgroup.sort_values(ascending = False)
all_pitchers_win.head()

Players
Max Scherzer        161
Justin Verlander    160
Clayton Kershaw     156
Zack Greinke        155
Jon Lester          148
Name: Win, dtype: int64

#### Task 4: Find the pitchers with the most home runs for the last 10 seasons

In [21]:
all_pitchers_hr = all_pitchers.sort_values(by = ['HR'],  ascending = False)
all_pitchers_hr.head()

,Players,Team,Win,Lost,ERA,Games,GS,CG,SHO,Saves,...,Hits,Runs,ER,HR,HB,BB,SO,WHIP,AVG,Year
1068,Bronson Arroyo,CIN,9,12,5.07,32,32,1,1,0,...,227,119,112,46,6,45,108,1.37,0.286,2011
6627,Mike Leake,ARI,12,11,4.29,32,32,2,1,0,...,227,114,94,41,10,27,127,1.29,0.286,2019
5871,Dylan Bundy,BAL,8,16,5.45,31,31,1,0,0,...,188,116,104,41,6,54,184,1.41,0.274,2018
4381,James Shields,CWS,6,19,5.85,33,33,1,0,0,...,208,122,118,40,8,82,135,1.60,0.288,2016
6618,Matthew Boyd,DET,9,12,4.56,32,32,0,0,0,...,178,101,94,39,8,50,238,1.23,0.247,2019